.fira-sans {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  /* shared style */
  main {
    max-width: 1280px;
    margin: 0 auto;
}
/* Nav-section style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-button{
    padding: auto;
    color: rgb(62, 194, 62);
    border-color: rgb(60, 189, 60);
    border-radius: 5px;
    height: 20px;
    
}
nav button:hover{
    background-color: aqua;

}
/* banner-section style */